<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="this.page==1">About</ion-title>
    <ion-title *ngIf="this.page==2">Privacy Policy</ion-title>
    <ion-title *ngIf="this.page==3">Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="this.page==1">
	<h4> What is JarviGoGreen</h4>
	<p>	JarviGoGreen is a crowdsensing application that allow public to help authorities, scientists and related stakeholders by submiting ice condition observation on lake. JarviGoGreen invites you to observe the progress of the winter by observing the changes in snow and ice. The observations are collected for research purposes, and by participating in the campaign can help to study the impact of climate change to the north for winter  </p>		
	<h4>How to Use</h4>				
  <p> The red markers appeared on the map show the new observation spot that you can report. You simply need to click on that marker and it will lead you to the observation page. Make your observation by simply taking photo, selecting the available option and entering short description. After that spot is observed, it will appear as a green marker. </p>
  <p> If you cannot find the observation around you, you can add new observation point by clicking on Add button in the Home page. </p>
  <p> You can also view your total earned points from observation and see your rank among your friends in leaderboard tab. All collected data are appeared in statistic tab.  
</ion-content>

<ion-content padding *ngIf="this.page==2">
  <h4> When you register as a user</h4>
  <p>
      When you register as a user, you stored in the e-mail address. It is needed to ensure that you are a real person, and to automatically restore your password if it is forgotten. Your email address will not appear in any of the service. Providing any other information is optional. No data is passed on nor used for marketing.
  </p>
</ion-content>

<ion-content *ngIf="this.page==3">
  <ion-card>
    <ion-card-header>
      Want to say something?
    </ion-card-header>
      <ion-card-content>
        <p> This application is deployed as an experimental study of a master student's thesis work. If you have any feedback or question, don't hesitate to send an email to <u>chandara.chea@student.lut.fi</u> </p>
    </ion-card-content>
  </ion-card>
</ion-content>