<!--
  Generated template for the SlideStarter page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Home</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true" class="swiper-pagination-black">
    <ion-slide *ngFor="let slide of slides" style="margin-top: 0; padding-top: 0">
        <div>
        <img  class="slide-image" [src]=slide.images alt=""/>
        </div>
        <div>
        <span *ngIf="slide.desc!=''">{{this.agent}}</span><p [innerHTML]=slide.desc></p>
        </div>
        
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-card-header>
          WHAT IS YOUR MISSION?
        </ion-card-header>
        <ion-card-content color="text">
          Your mission is to observe the ice condition of lakes around you. <br/>You have to submit at least 20 observations in 20 days. You will find the available observation points around you on the map. Click on the observation point and submit your observation.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          WHAT ARE THE RULES?
        </ion-card-header>
        <ion-card-content color="text">
          You will earn 20 points for each submission. However, you will lose 5 points each day if you don't submit your observation every day. <br/> 
        </ion-card-content>
      </ion-card>
      <ion-card>         
       <button ion-button block color="secondary" (click)="goToTabPage()">Get Started</button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>