.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height: 150px;
  }

  .card-title {
    position: absolute;
    top: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .card-dueDate {
    font-size: 1.0em;
    position: absolute;
    top: 80%;
    width: 100%;
  }

}